doctype html
html
	head
		style
			include ../public/static/css/app.css
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	body
		div#app
		script(src='/static/js/manifest.js')
		script(src='/static/js/vendor.js')
		script(src='/static/js/app.js')